@use "../variables" as *;
@use "../media" as *;

.modal-overlay {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;

  &_close-button {
    position: absolute;
    color: white;
    top: 12px;
    right: 12px;
    font-size: 36px;
  }
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
  max-width: 600px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);

  &_content {
  }

  &__cart-items {
  }
}
